@model IEnumerable<work_01.Models.Category>

@{
    ViewBag.Title = "Index";
}



<div class="d-flex justify-content-end">
    <a href="@Url.Action("Create","Categories")" class="btn btn-outline-primary btn-sm mb-2">Add New</a>
</div>

<table class="table table-bordered table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CId }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CId }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
